# Documentation builds
docs/site/
docs/mlxtend.pdf

# Temporary documentation files
docs/sources/user_guide/*.md
docs/sources/user_guide/*/*.md
#docs/sources/user_guide/*/*/*.png
#docs/sources/user_guide/*.png
#docs/sources/user_guide/*/*.png
#docs/sources/user_guide/*/*/*.png
docs/sources/api_modules/
docs/sources/api_subpackages/

# PyPI
build/
dist/
MANIFEST

# Temporary files
.coverage
.ipynb_checkpoints

*.sqlite
gmon.out
__pycache__
*.pyc
*.o
*.so
*.gcno
*.swp
*.egg-info
*.egg
*~
build
dist
lib/test
doc/_build
*env
*ENV
.DS_store
.idea
