language: python
virtualenv:
  system_site_packages: true
env:
  matrix:
    - PYTHON_VERSION="2.7" COVERAGE="true" LATEST="true"
    - PYTHON_VERSION="2.7" NUMPY_VERSION="1.9.2" SCIPY_VERSION="0.15.1" SKLEARN_VERSION="0.16.1" PANDAS_VERSION="0.16.0" MATPLOTLIB_VERSION="1.4.3"
    - PYTHON_VERSION="3.4" LATEST="true"
    - PYTHON_VERSION="3.5" LATEST="true"
install: source ./ci/.travis_install.sh
script: bash ./ci/.travis_test.sh
after_success:
    # Ignore coveralls failures as the coveralls server is not very reliable
    # but we don't want travis to report a failure in the github UI just
    # because the coverage report failed to be published.
    - if [[ "$COVERAGE" == "true" ]]; then coveralls || echo "failed"; fi
cache: apt
