language: python
sudo: false
os:
    - linux
virtualenv:
  system_site_packages: true
env:
  matrix:
    - PYTHON_VERSION="2.7" TENSORFLOW="true" LATEST="true"
    - PYTHON_VERSION="3.4" TENSORFLOW="true" LATEST="true"
    #- PYTHON_VERSION="2.7" LATEST="true"
    #- PYTHON_VERSION="3.4" LATEST="true"
    #- PYTHON_VERSION="3.5" LATEST="true"
    #- PYTHON_VERSION="3.5" NUMPY_VERSION="1.10.4" SCIPY_VERSION="0.17" SKLEARN_VERSION="0.17" PANDAS_VERSION="0.17.1" MATPLOTLIB_VERSION="1.5.1"
    #- PYTHON_VERSION="3.5" COVERAGE="true" LATEST="true"

cache:
    apt: true
    directories:
        - $HOME/.cache/pip

addons:
    apt:
        packages:
            - libatlas-dev
            - libblas-dev
            - liblapack-dev
            - gfortran
            - python-numpy
            - python-scipy
            - python3-numpy
            - python3-scipy


install: source ./ci/.travis_install.sh
script: bash ./ci/.travis_test.sh
after_success:
    # Ignore coveralls failures as the coveralls server is not very reliable
    # but we don't want travis to report a failure in the github UI just
    # because the coverage report failed to be published.
    - if [[ "$COVERAGE" == "true" ]]; then coveralls || echo "failed"; fi
# cache: apt
sudo: false
notifications:
  email:
    recipients:
      - mail@sebastianraschka.com
    on_success: always
    on_failure: always
