language: generic

cache:
  apt: true
  directories:
  - $HOME/.cache/pip
  - $HOME/.ccache

dist: trusty

env:
  global:
    # Directory where tests are run from
    - TEST_DIR=/tmp/sklearn
    - OMP_NUM_THREADS=4
    - OPENBLAS_NUM_THREADS=4

matrix:
    include:
        - os: linux
          sudo: required
          python: 3.8
          env: LATEST="false" IMAGE="false" COVERAGE="false" NUMPY_VERSION="1.18.5" SCIPY_VERSION="1.5.0" SKLEARN_VERSION="0.23.1" JOBLIB_VERSION=0.15.1 PANDAS_VERSION="1.0.5" IMAGEIO_VERSION="2.8.0" SKIMAGE_VERSION="0.17.2" DLIB_VERSION="19.20.0" MINICONDA_PYTHON_VERSION=3.7
        - os: linux
          python: 3.8
          env: LATEST="true" IMAGE="false" COVERAGE="true" NOTEBOOKS="false" MINICONDA_PYTHON_VERSION=3.7
        - os: linux
          sudo: required
          python: 3.8
          env: LATEST="true" IMAGE="false" COVERAGE="false" NOTEBOOKS="false" MINICONDA_PYTHON_VERSION=3.7


before_install:
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi

install:
    - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then sudo apt-get update; fi
    - source ci/.travis_install.sh

script:
    - bash ci/.travis_test.sh

after_success:
    - if [[ "$COVERAGE" == "true" ]]; then coveralls || echo "failed"; fi

notifications:
    email:
      recipients:
          - mail@sebastianraschka.com
    on_success: always
    on_failure: always
