name: Unit tests

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda env update --file environment.yml --name base
    - name: Test with pytest
      run: |
        conda update conda -y -q
        conda config --add channels conda-forge
        pip install scikit-learn==1.1.2
        pip install pandas==1.3.5
        pip install tensorflow joblib pytest
        pip install imageio scikit-image
        conda install dlib -y -q
        pip install markdown
        pip install coverage
        pip install -e  .
        python -c "import numpy; print('NumPy:', numpy.__version__)"
        python -c "import scipy; print('SciPy:', scipy.__version__)"
        python -c "import sklearn; print('Scikit-learn:', sklearn.__version__)"
        python -c "import pandas; print('Pandas:', pandas.__version__)"
        coverage run --source=mlxtend --branch -m pytest mlxtend
        coverage xml
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v2